tmp/*
log/*
.dockerignore
.gitignore
.fcrepo_wrapper
.git
.idea
.solr_wrapper
.travis.yml
.ruby-version
.ruby-gemset
env.*
fcrepo4-development-data
hostfs
jetty
spec
solr
test
scripts/helpers
scripts/docker
public/assets
public/system
public/uploads
