tmp/*
log/*
.dockerignore
.gitignore
.fcrepo_wrapper
.git
.idea
.solr_wrapper
.travis.yml
env.*
fcrepo4-development-data
hostfs
jetty
spec
solr
test
scripts/helpers
scripts/docker
public/assets
public/system
public/uploads
tools/ffmpeg-3.1.1-64bit-static
tools/fits-1.0.0
