<%= render partial: '/shared/piwik' %>
<uvalib-footer-responsive>
  <div class="footer-extended" bottom-bar>
    <div class="footer-extended-left">
      <a href="http://www.library.virginia.edu/libra/terms-of-use/" class="footer-link">Libra Terms</a> &nbsp; | &nbsp;
      <a href="mailto:<%= MAIL_SENDER %>" class="footer-link">Libra Feedback</a>
    </div>
    <div class="footer-extended-right">
      <span class="build-version">Version: <%= BUILD_VERSION %></span>
      <%= image_tag "hydra.png", alt: "Hydra Community Badge"  %>
    </div>
  </div>
</uvalib-footer-responsive>