<div class="form-group string optional disabled generic_work_date_created">
	<label class="string optional disabled control-label" for="generic_work_date_created">Date created</label>
	<input class="string optional disabled form-control" disabled="disabled" type="text" value="<%= file_date_created(f.object.date_created) %>" id="generic_work_date_created">
</div>
