<p>This is a test of the email capability.</p>

<p>An email has been sent to the standard recipients.</p>

<p>The standard recipients are:</p>

<p><%= EXCEPTION_RECIPIENTS %></p>

<p>Sender: <%= MAIL_SENDER %></p>
<p>MTA host: <%= MTA_HOST %></p>
<p>MTA domain: <%= MTA_DOMAIN %></p>
