<div id="sidebar" class="col-xs-12 col-sm-3 col-sm-pull-9">
	<h2>Files</h2>
	<p class="file-notice"><%= embargo_notice(@work) %></p>
	<div id="uploads">
			<% @files.each { |file| %>
			<div class="file_asset_record">
			<p><%= link_to(file[:title], file[:location]) %></p>
			<p><span class="file_label">Created:</span><%= file_date_created(file[:date]) %></p>
			</div>
			<% } %>

	</div>
</div>
