<style>
	.flash-notice {
		position: absolute;
		background-color: #F9F3A0;
		opacity: 0.98;
		z-index: 1000;
		padding: 16px;
		right: 10px;
		top: 10px;
		width: 200px;
		border-radius: 4px;
		box-shadow: 1px 1px 5px #889;
	}
	.close {
		float: right;
		font-size: 21px;
		font-weight: bold;
		line-height: 1;
		color: #000;
		text-shadow: 0 1px 0 #fff;
		opacity: 0.2;
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		-webkit-appearance: none;
		display: block;
		position: relative;
		top: -2px;
		right: -10px;
	}
</style>

<% if flash[:notice].present? %>
	<div class="flash-notice" role="alert">
		<button id="close-button" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
		<%= flash[:notice] %>
	</div>
<% end %>
<%= render "document" %>
<script language="JavaScript">
	var closeButton = document.getElementById('close-button');
	if (closeButton) {
		closeButton.onclick = function() {
			var parent = this.parentNode;
			parent.parentNode.removeChild(parent);
		}
	}
</script>
