<% # container for all active theses in dashboard view -%>
<div class="table-responsive" id="theses">
  <%= render partial: 'my/_index_partials/default_group', locals: {docs: @theses, facet_value: nil} %>
</div>