
        <div class="form-instructions">
          <p>The more descriptive information you provide the better we can serve your needs.</p>
          <div class="clearfix">
            <small class="pull-left"><span class="error">*</span> required</small>
          </div>
        </div>
        <div class="base-terms">
          <% f.object.primary_terms.each do |term| %>
            <%= render_edit_field_partial(term, f: f) %>
          <% end %>
        </div>
        <div id="extended-terms">
          <% f.object.secondary_terms.each do |term| %>
            <%= render_edit_field_partial(term, f: f) %>
          <% end %>
          <%= render 'form_media', f: f %>
        </div>

