<tr class="file_set attributes currently-processing" data-file-id="<%= id %>">
  <td class="thumbnail">
    <%= image_tag("default") %>
  </td>
  <td class="attribute filename">This file is being processed. Please wait a few minutes and refresh this page.</td>
  <td class="attribute permission"><%= label %></td>
  <td class="attribute date_uploaded">Pending</td>
  <td>
  </td>
</tr>

