<h3>Requirements</h3>
<ul class="requirements">
	<li class="<%= requirement_class(@requirements, :metadata) %>" id="required-metadata-libra"><a href="/concern/generic_works/<%= id %>/edit#metadata">Enter required metadata</a></li>
	<li class="<%= requirement_class(@requirements, :files) %>" id="required-files-libra"><a href="/concern/generic_works/<%= id %>/edit#files">Add files</a></li>
	<!-- change the names of the requirements items so that sufia doesn't interfere. -->
	<li style="display:none;" id="required-metadata"></li>
	<li style="display:none;" id="required-files"></li>
</ul>
