<p>Dear <%= @name %>,</p>
<p>Congratulations on the successful defense of your thesis or dissertation. You now have access to <a href="<%= ActionMailer::Base.default_url_options[:host] %>">upload your approved thesis or dissertation to LIBRA</a>.</p>
<p>After you log in to LIBRA, check the title displayed for your draft thesis or dissertation. The title in LIBRA must match the title as approved by your committee or advisor. If it does not, please report the discrepancy to your departmental administrator to make the corrections in SIS. You will receive a new email message from LIBRA when it has been corrected and you can proceed with your deposit.</p>
<p>Review the <a href="http://www.library.virginia.edu/libra/etds/etds-checklist/">"Electronic Thesis/Dissertation (ETD) Submission Requirements Checklist"</a> before you upload your thesis or dissertation files. Please note that uploaded files may not be changed in any way once the submission process is complete.</p>
<p>If you are asking for an embargo, <strong> do not complete your submission until the embargo has been approved and applied to your Libra record</strong>. More information on embargoes and visibility options can be found here: <a href="https://www.library.virginia.edu/libra/etds/authors-rights-embargoes">"Access and Visibility Options"</a>.</p>
<p>Text documents deposited in LIBRA must be in PDF format. Supplemental files are accepted in most formats. <a href="mailto:libra@virginia.edu">Contact Libra staff</a> if you have questions about acceptable formats.</p>
<p>You will receive email confirmation of your deposit, including the permanent URL for your scholarship.</p>
<p>Approximately 1 hour after deposit, you may check that your scholarship was successfully added to the Library's collection by searching for your thesis or dissertation in VIRGO, the UVA online library catalog.</p>
<p>24 hours after deposit, please verify that SIS has been updated to reflect that you have completed this requirement.</p>
<p></p>
<p>Best Regards,</p>
<p>Scholarly Repository Services, University of Virginia Library</p>
<p><%= MAIL_SENDER %></p>
