// Get rid of canned Sufia functionality that we don't want to show in Libra2.

//
// All pages
//
#masthead {
    a[href="/dashboard/works"] {
        display: none;
    }
    a[href="/dashboard/collections"] {
        display: none;
    }

    .dropdown-menu {
      a[href="/dashboard/transfers"] {
        display: none;
      }
      a[href="/dashboard/highlights"] {
        display: none;
      }
      a[href="/dashboard/shares"] {
        display: none;
      }
      :nth-child(5) {    // the divider
        display: none;
      }
    }
}


.navbar-static-top {
   .navbar-nav {
     a[href="/"] {    // the about menu item
         display: none;
     }
   }
}

// the search button drop down
#search-form-header {
  .input-group-btn {
    a[data-search-label="My Collections"] {
      display: none; // search button within collections
    }
    a[data-search-label="My Highlights"] {
      display: none; // search button within highlights
    }
    a[data-search-label="My Shares"] {
      display: none; // search button within shares
    }
  }
}


//
// Dashboard
//
.dashboard {
    .heading-row {
        .heading-tile:nth-child(2), .heading-tile:nth-child(3) {
            display: none;
        }
    }

    #transfers {
      display: none;
    }
}

//
// Uploading
//
.new_generic_work, .edit_generic_work {

    a[aria-controls="relationships"] {   // unneeded relationship tab
        display: none;
    }
    a[aria-controls="share"] {           // unneeded share tab
        display: none;
    }
    .switch-upload-type {                // batch upload paragraph
      display: none;
    }
}

//
// Profile
//

.profile .nav-tabs {
	a[href="#contributions"] {
		display: none;
	}
}
.panel-user {
    .list-group-item:nth-child(2) { // Collections section on user profile.
        display: none;
    }
    .list-group-item:nth-child(4) { // Followers section on user profile.
        display: none;
    }
}

label[for="user_update_directory"], #user_update_directory {
      display: none;
}

label[for="user_orcid"], #user_orcid {
//    display: none;
}

label[for="user_twitter_handle"], #user_twitter_handle {
    display: none;
}

label[for="user_facebook_handle"], #user_facebook_handle {
    display: none;
}

label[for="user_googleplus_handle"], #user_googleplus_handle {
    display: none;
}

.profile {
	form {
		//  Remove Highlight Designation - this is particularly hard to specify, so sorry about the fragility of the css selector.
		div:nth-child(9) {
			&.control-label {
				display: none;
			}
		}
	}
}

//
// Works pages
//

#my_nav {
  a[href="/dashboard/collections"] {  // my collections tab in works display
    display: none;
  }
  a[href="/dashboard/highlights"] {   // my highlights tab in works display
    display: none;
  }
  a[href="/dashboard/shares"] {       // my shares tab in works display
    display: none;
  }
}

.batch-toggle {
  .batch-select-all {
    //input[value="Delete Selected"] {  // delete selected button
    //  display: none;
    //}
  }
  .submits-batches-add { // add to collection button
    display: none;
  }
}

.text-center {
  li[role="menuitem"] .trophy-class {   // highlight item dropdown option
    display: none;
  }
  li[role="menuitem"] .itemtransfer {   // transfer item dropdown option
    display: none;
  }
}

// hide collections header, and the collections that follow. (That is, the message that there are no collections.)
// This uses a lot of specificity because there isn't a good way to know that the current page is the work page.
.work_description + h2 {
  display: none;
}

.work_description + h2 + p {
  display: none;
}

// Hide all the "share with" lines
#permissions_display form > .row {
	display: none;
}

// Hide Person/Group section.
#permissions_display form > table.table {
	display: none;
}