<div class="form-group string optional generic_work_my_orcid">
	<label class="string optional control-label" for="generic_work_my_orcid">My ORCID &nbsp;</label>
	<span><a target="_blank" href="https://orcid.org/register">Get an ORCID</a></span>
	<input class="string optional disabled form-control orcid_widget" disabled="disabled" type="text" value="<%= f.object.my_orcid %>" name="generic_work[my_orcid]" id="generic_work_my_orcid">
</div>
