<h2><%= t('.header') %></h2>
<% if presenter.file_set_presenters.present? || @pending_file_test.present? %>
  <table class="table table-striped related-files">
    <thead>
      <tr>
        <th>File</th>
        <th>Filename</th>
        <th>Display Label</th>
        <th>Date Uploaded</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'member', collection: presenter.file_set_presenters if presenter.file_set_presenters.present? %>
        <% @pending_file_test.each { |file| %>
    <%= render partial: "pending_files", locals: { id: file['id'], label: file['label'], name: file['name']} %>
        <% } if @pending_file_test.present? %>
    </tbody>
  </table>
<% elsif can? :edit, presenter.id %>
  <p><em><%= t('.empty', type: presenter.human_readable_type) %></em></p>
<% end %>
