<p>Dear <%= @name %>,</p>
<p>Congratulations on the successful completion of your department's pre-thesis requirements. You now have access to <a href="<%= ActionMailer::Base.default_url_options[:host] %>">upload your approved thesis to LIBRA</a>.</p>
<p>After you log in to LIBRA, enter the title for your thesis as approved by your department. The title in LIBRA must match the title on record in your school or department.  If it does not, the discrepancy will delay your departmental administrator's ability to verify successful completion of thesis requirements, possibly delaying your graduation.</p>
<p>Review the <a href="http://www.library.virginia.edu/libra/etds/etds-checklist/">"Electronic Thesis/Dissertation (ETD) Submission Requirements Checklist"</a> before you upload your thesis files. Please note that uploaded files and descriptions may not be changed in any way once the submission process is complete.</p>
<p>Text documents deposited in LIBRA must be in PDF format. Supplemental files are accepted in most formats. <a href="mailto:libra@virginia.edu">Contact Libra staff</a> if you have questions about acceptable formats.</p>
<p>24 hours after deposit, you may check that your scholarship was successfully added to the Library's collection by searching for your thesis or dissertation in VIRGO, the UVA online library catalog.</p>
<p>You will receive email confirmation of your deposit, including the permanent URL for your scholarship.</p>
<p></p>
<p>Best Regards,</p>
<p>Scholarly Repository Services, University of Virginia Library</p>
<p><%= MAIL_SENDER %></p>
